/* this css styles are only for demo purpose */
* { margin: 0; padding: 0 }
html { width:100%; height:100% }
body { font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:1.5em; margin:0px; padding:0px; width:100%; height:100% }
.mainTbl { width:100%; height:100%; border:none; margin:0px; padding:0px; border-spacing:0; border-collapse:collapse; }
.mainTbl .panel-left { width:250px; padding:10px 20px; background-color:#ececec; height:100%; vertical-align:top }
.mainTbl .panel-right { padding:10px 20px; height:100%; vertical-align:top }
.error { color:#D31616 }
.copyright { font-size:12px; color:#636363; padding:20px 0px }



.sourcecode { font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#4E4E4E; line-height:22px; padding:20px; }
h1 { font-size:24px; border-bottom:1px dashed #ddd; margin-bottom:20px; padding-bottom:20px }
pre, code  { font-family: consolas, courier, monospace; white-space: pre; background-color:#f9f9f9; padding:10px; display:inline-block; color:#777; margin:10px 0px; border:1px dashed #ddd; min-width:700px; max-width:900px; max-height:1000px; overflow:auto }
button { padding: 3px 10px }

hr {
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 30px
}

h3 { padding-bottom: 10px }
p { padding-bottom: 10px }